@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Configuração do Dark Mode baseado na classe .dark no <html> */
@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --bg-primary: #f8fafc;
    --bg-secondary: #F2F4F6;
    --bg-code: #e8eaec;
    --text-primary: #0F1117;
    --text-secondary: #000000;
    --text-muted: #3b4650;
    --border-color: #d4d4d4;
  }

  .dark {
    --bg-primary: #0F1117;
    --bg-secondary: #181C24;
    --bg-code: #333333;
    --text-primary: #cdd6df;
    --text-secondary: #ffffff;
    --text-muted: #8599ad;
    --border-color: #283746;
  }
}

@theme {
  --color-theme-bg: var(--bg-primary);
  --color-theme-bg2: var(--bg-secondary);
  --color-theme-code: var(--bg-code);
  --color-theme-text: var(--text-primary);
  --color-theme-sec: var(--text-secondary);
  --color-theme-muted: var(--text-muted);
  --color-theme-border: var(--border-color);
}

/* Resets Globais */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.2s ease, color 0.2s ease;
}

img {
  margin: 0;
}